# IBM Developer Skills Network

## What are Strings

In [1]:
# Use double quote for string
"Indi"

'Indi'

In [2]:
# Single quote
'Indi'

'Indi'

In [3]:
# Space 
'1 2 3 4 5'

'1 2 3 4 5'

In [4]:
# Special character
'#$%^&*()'

'#$%^&*()'

In [5]:
# string variable
name = 'Indi'
name

'Indi'

# Indexing

In [7]:
name = 'Michael Jackson'

In [8]:
# get 1st character
name[0]

'M'

In [9]:
# 7th character
name[6]

'l'

## Negative indexing

In [10]:
name[-1]

'n'

## Length of string

In [11]:
len(name)

15

# Slicing

In [12]:
name[0:4] # start from 0 with final character is at 4th location

'Mich'

In [13]:
name[1:4] # start from 1 with final character at 4th location

'ich'

In [16]:
name[1:] # from 1 to end of string

'ichael Jackson'

In [17]:
name[:4] # from 0 to 4th location

'Mich'

# Stride

In [14]:
name[::2] # get every 2nd character

'McalJcsn'

In [18]:
## Stride and slice
name[0:5:2] # every 2nd character from 1st index to 4 index

'Mca'

In [27]:
name[1::2] # every 2nd character from 2nd index to end

'ihe ako'

# Concatenate string

In [29]:
sta = name + ' is the best'
sta

'Michael Jackson is the best'

## Multiply string

In [31]:
sta = name * 3
sta

'Michael JacksonMichael JacksonMichael Jackson'

# Escape sequence

In [32]:
# New line escape \n
print('MC is \n the best')

MC is
 the best

In [33]:
# Tab escape \t
print('MC is \t the best')

MC is 	 the best

In [34]:
# Include backlash in string
print('MC is \\ the best')

MC is \ the best

In [35]:
# Use r to display raw string
print(r'MC is \n \t \ the best')

MC is \n \t \ the best

# String operation

In [37]:
# Convert to upper case
a = 'This is case test'
print('before upper case: ', a)
b = a.upper()
print('after upper case: ', b)

before upper case:  This is case test
after upper case:  THIS IS CASE TEST

In [39]:
# Replace string
a = 'This is original string'
b = a.replace('original', 'new')
b

'This is new string'

In [41]:
# find method - find 1st occurence of string
name = 'Michael Jackson'
name.find('cha')

2

In [42]:
# if not found return -1
name.find('xyz')

-1