# IBM Developer Skills Network

## Tuples in python

In [1]:
## Create the 1st tuple
tup1 = ('disco', 10 , 1.2)  # using () to create tuple
tup1

('disco', 10, 1.2)

In [2]:
type(tup1)

tuple

# Indexing

In [3]:
tup1[0]

'disco'

In [4]:
tup1[-1]

1.2

In [5]:
type(tup1[1])

int

# Concatenate tuple

In [6]:
# Plus
tup2 = tup1 + ('hard rock', 12)
tup2

('disco', 10, 1.2, 'hard rock', 12)

In [7]:
# Multiply
tup3 = tup1 * 2
tup3

('disco', 10, 1.2, 'disco', 10, 1.2)

## Slicing

In [8]:
tup2[0:3]  # same as string, from 0 index to 2 index

('disco', 10, 1.2)

In [9]:
tup2[1:-1] # 1 index to final index

(10, 1.2, 'hard rock')

## Length of tuple

In [11]:
len(tup2)

5

# Sorting

In [14]:
rating = (0, 9 ,6 ,3 ,4 ,7 ,5 , 1)

In [15]:
ratingSort = sorted(rating)
ratingSort

[0, 1, 3, 4, 5, 6, 7, 9]

In [16]:
# After sorting, changed to list
type(ratingSort)

list

# Nested tuple

In [17]:
nestTup = (1, 2, ('pop', 'rock'), (3, 4), ('disco', (5, 6))) 
nestTup

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (5, 6)))

In [18]:
nestTup[1]

2

In [21]:
nestTup[-1]

('disco', (5, 6))

In [24]:
# get the nested element
nestTup[-1][1]

(5, 6)

In [23]:
nestTup[-1][1][0]

5