# IBM Developer Skills Network

## List in Python

In [2]:
# Create a list
l1 = ['Michael Jackson', 1, 12.1] # use [] to create list
l1

['Michael Jackson', 1, 12.1]

## Indexing

In [3]:
l1[0]

'Michael Jackson'

In [4]:
l1[-1]

12.1

## Nested list

In [5]:
l2 = ['Michael Jackson', [1,2], 'A', [3,4]]
l2

['Michael Jackson', [1, 2], 'A', [3, 4]]

## List operation

In [8]:
l1 = ['Michael Jackson', 10.1, 2, 'MJ']
l1

['Michael Jackson', 10.1, 2, 'MJ']

In [9]:
# Slicing
l1[0:3]

['Michael Jackson', 10.1, 2]

In [12]:
# add element to list using append
l1.append(['pop', 10])  # add 1 nested items to list
l1

['Michael Jackson', 10.1, 2, 'MJ', 'pop', 10, ['pop', 10]]

In [14]:
# add using extend
l1 = ['Michael Jackson', 10.1, 2, 'MJ']
l1.extend(['pop', 10])  # add 2 items to list
l1

['Michael Jackson', 10.1, 2, 'MJ', 'pop', 10]

In [15]:
# Change content of a list
print('l1 2nd element:',l1[1])
l1[1] = 'New'
print('l1 2nd new element:',l1[1])

l1 2nd element: 10.1
l1 2nd new element: New

## Split string to create list

In [16]:
'hard rock'.split() # split using space

['hard', 'rock']

In [17]:
'A, B, C, D'.split(',') # split using character

['A', ' B', ' C', ' D']

## Copy and clone list

In [19]:
A = ['hard rock', 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [20]:
# Changed in A will be reflected in B
A[0] = 'banana'
print(B[0])

banana

In [21]:
# Clone A 
B = A[:]

In [22]:
# Changed in A will not be reflected in B
A[0] = 'pineapple'
B[0]

'banana'